#build-flow-root {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
}

#build-flow-switches {
    display: flex;
    margin-bottom: 2px;
}

.build-flow-switch {
    background-color: #aaa;
    border-radius: 3px;
    color: white !important;
    font-size: 0.8em;
    line-height: 0.8em;
    margin-right: 4px;
    padding: 4px;
    text-decoration: none !important;
}

.build-flow-switch:hover {
    background-color: #333;
    text-decoration: none;
}

.build-flow-build-history {
    display: flex;
}

.build-flow-build-history-dot {
    border-radius: 3px !important;
    box-shadow: 1px 1px 4px -2px black !important;
    height: 0.9em;
    margin: 4px 3px 2px 0px !important;
    width: 1em;
    z-index: 1;
}

.duration-info {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9em !important;
    line-height: 0.9em !important;
    margin: 1px 0;
}

#build-flow-grid {
    display: grid;
    height: fit-content;
    height: -moz-fit-content;
    width: fit-content;
    width: -moz-fit-content;
}

#build-flow-grid a {
    display: inline-block;
    text-decoration: none;
}

#build-flow-grid a:hover {
    text-decoration: underline;
}

#build-flow-grid a span {
    color: black;
    font-family: LatoLatinWeb, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.arrow-wrapper {
    height: 100%;
    width: 2em;
}

.build-info {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    justify-content: center;
    line-height: 1.2em;
    margin: 0.3em 0;
    padding: 0.3em;
    position: relative;
}

.build-info.SELECTED {
    border: 2px dashed rgba(0, 0, 0, 0.8) !important;
}

.build-info.RED {
    background: #ffdbdb;
    border: 1px solid rgba(255, 50, 0, 0.8);
    box-shadow: 0 0 3px 0px rgba(255, 50, 0, 0.8);
}

.build-info.BLUE {
    background: #dbfbc9;
    border: 1px solid rgba(80, 120, 50, 0.8);
}

.build-info.YELLOW {
    background: #ffdeb0;
    border: 1px solid rgba(255, 150, 0, 0.8);
}

.build-info.ABORTED,
.build-info.DISABLED,
.build-info.NOTBUILT {
    background: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.build-info.ANIME:after {
    background: url("../images/in_progress.gif");
    border-radius: 4px;
    content: " ";
    height: 100%;
    left: 0;
    opacity: .07;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}
